# Ignore specific campaigns and folders
NBZ Campaign/
Survivors Campaign/
Oneshots/
Sessions/
Unrelated/
Attachments/Pasted image 20240601185115.png

# Ignore Obsidian workspace and plugin data
.obsidian/workspace*
.obsidian/plugins/tags-overview/data.json
.obsidian/plugins/generic-initiative-tracker/*
.obsidian/plugins/obsidian-dice-roller/*
.git_backup/

# Ignore Mac system files
*.DS_Store
Sign of Remembrance/Attachments/Pasted image 20251019232847.png
Sign of Remembrance/Attachments/Pasted image 20260103170908.png
Sign of Remembrance/Attachments/Pasted image 20260103170924.png
